<div class="job-details-wrapper">
  <div class="heading-box">
     <h4>Job Details</h4>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Job Title</th>
          <th scope="col">Company Name</th>
          <th scope="col">Requirement</th>
          <th scope="col">Posted Date</th>
          <th scope="col">Location</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobdata of jobdetailsData; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{jobdata.position}}</td>
          <td>{{jobdata.companyName}}</td>
          <td>{{jobdata.appliedCount}}</td>
          <td>{{jobdata.jobPostedDate | date }}</td>
          <td>{{jobdata.eventLocation}}</td>
          <td><a href="javascript:void(0);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="javascript:void(0);" (click)="deleteData(jobdata.id);"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
        </tr>       
      </tbody>
    </table>
  </div>
</div>