
<div class="job-details-wrapper" *ngIf="jobdetailsData">
  <div class="heading-box">
     <h4>Job Details</h4>
     <a class="btn btn-primary"  [routerLink]="['/jobs/edit-job',jobdetailsData.id]">Edit Job</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>          
           <td class="heading">Company Name:</td>
           <td class="headingData">{{jobdetailsData.companyName}}</td>
           <td class="heading">Company URL:</td>
           <td class="headingData">{{jobdetailsData.companyUrl}}</td>
        </tr>
        <tr>          
            <td class="heading">Event Date:</td>
            <td class="headingData">{{jobdetailsData.eventDate | date: 'dd-MM-yyyy'}}</td>
            <td class="heading">Event Location:</td>
            <td class="headingData">{{jobdetailsData.eventLocation}}</td>
         </tr>
        <tr>
            <td class="heading">Job Type:</td>
            <td class="headingData">{{jobdetailsData.jobType}}</td>
            <td class="heading">Salary:</td>
            <td class="headingData">{{jobdetailsData.fromSalary}} - {{jobdetailsData.toSalry}}</td>
        </tr>
          <tr>          
            <td class="heading">Job Position:</td>
            <td class="headingData">{{jobdetailsData.position}}</td>
            <td class="heading">Total Requirement:</td>
            <td class="headingData">{{jobdetailsData.totalRequirement}}</td>
          </tr>
          <tr>          
              <td class="heading">Job Description:</td>
              <td class="headingData">{{jobdetailsData.jobDescription}}</td>
              <td class="heading">Eligibility:</td>
              <td class="headingData">
                <ul>
                  <!-- {{jobdetailsData.eligibility | json}} -->
                  <ng-template *ngIf="jobdetailsData?.eligibility && jobdetailsData?.eligibility>0">
                    <li *ngFor="let egblity of jobdetailsData?.eligibility; let i = index">
                        {{egblity}}                      
                    </li>
                </ng-template>
                </ul>                
              </td>
            </tr>
          <tr>          
              <td class="heading">job Location:</td>
              <td class="headingData"> 
                <ul class="listdatas">
                  <li *ngFor="let joblocation of jobdetailsData?.jobLocation; let i = index">
                    {{joblocation}}
                  </li>
                </ul>          
              </td>
              <td class="heading">Skill Requirement:</td>
              <td class="headingData"> 
                <ul class="listdatas">
                  <li *ngFor="let skill of jobdetailsData?.requiredSkillsMandatory; let i = index">
                    {{skill}}
                  </li>
                </ul>          
              </td>
          </tr>
          <tr>          
              <td class="heading">Prefer Skill Requirement:</td>
              <td class="headingData"> 
                <ul class="listdatas">
                  <li *ngFor="let preferskill of jobdetailsData?.requiredSkillsPreferred; let i = index">
                    {{preferskill}}
                  </li>
                </ul>          
              </td>
              <td class="heading">Company Description:</td>
              <td class="headingData">{{jobdetailsData.companyDesc}}</td>
          </tr>

      </tbody>
    </table>
  </div>
</div>