<div class="job-details-wrapper">
  <div class="heading-box">
     <h4>List of HR</h4>
     <a class="btn" [routerLink]="['/managehr/add-hr']">+ Add HR</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <!-- <th scope="col">Mobile</th> -->
          <th scope="col">Last Login</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hrdata of hrdetailsData; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{hrdata.fname}}</td>
          <td>{{hrdata.lname}}</td>
          <td>{{hrdata.email}}</td>
          <!-- <td>{{hrdata. }}</td> -->
          <td>{{hrdata.lastLogin}}</td>
          <td><a href="javascript:void(0);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="javascript:void(0);" (click)="deleteData(hrdata.id);"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
        </tr>       
      </tbody>
    </table>
  </div>
</div>