<div class="update-job-wrapper">
    <div class="ui-fluid">
        <div class="ui-g">
      
          <div class="ui-g-12">
            <div class="heading-box">
                <h4>Update Job</h4>
            </div>
            <div class="card no-margin">   
              <form [formGroup]="editJobForm" (submit)="submitEditJob(editJobForm.value);">       
              <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-12">
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-4">
                      <label for="companyName">Company Name</label>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                      <input id="companyName" formControlName="companyName" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-4">
                        <label for="companyUrl">Company URL</label>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                      <input id="companyUrl" formControlName="companyUrl" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-4">
                        <label for="eventDate">Event Date</label>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                      <input id="eventDate" formControlName="eventDate" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-4">
                        <label for="eventLocation">Event Location</label>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                      <input id="eventLocation" formControlName="eventLocation" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-4">
                        <label for="jobType">Job Type</label>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                      <input id="jobType" formControlName="jobType" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    </div>
                  </div>

                  <!-- <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="companyLogo">Company Logo</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
                        accept="image/*" auto="auto"></p-fileUpload>                </div>
                  </div> -->
                 
                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="position">Position</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="position" formControlName="position" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                    </div>                


                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-4">
                        <label for="passoutYearBatch">Passout Year Batch</label>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                      <input id="passoutYearBatch" formControlName="passoutYearBatch" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="fromSalary">From salary</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="fromSalary" formControlName="fromSalary" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="toSalary">To salary</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="toSalary" formControlName="toSalary" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="requiredExperience">Required Experience(Should be in no of months)</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="requiredExperience" formControlName="requiredExperience" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                  </div>

                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="companyDesc">Company Desc</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="companyDesc" formControlName="companyDesc" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="eligibility">Eligibility</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="eligibility" formControlName="eligibility"  pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="requiredSkillsMandatory">Required Skills</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="requiredSkillsMandatory" formControlName="requiredSkillsMandatory" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                  </div>
                  <div class="ui-grid-row">
                        <div class="ui-g-12 ui-md-4">
                            <label for="totalRequirement">Total Requirement</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <input id="totalRequirement" formControlName="totalRequirement" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                        </div>
                    </div>
                  <!-- <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="jobRequirement">Job Requirement</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="jobRequirement" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                  </div> -->
                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">
                          <label for="specialNotes1">Special Notes1</label>
                      </div>
                      <div class="ui-g-12 ui-md-8">
                        <input id="specialNotes1" formControlName="specialNotes1" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                      </div>
                  </div>
                  <div class="ui-grid-row">
                        <div class="ui-g-12 ui-md-4">
                            <label for="specialNotes1">Special Notes2</label>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <input id="specialNotes1" formControlName="specialNotes2" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                        </div>
                    </div>
                    <div class="ui-grid-row">
                            <div class="ui-g-12 ui-md-4">
                                <label for="specialNotes1">Special Notes3</label>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                              <input id="specialNotes1" formControlName="specialNotes3" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                            </div>
                        </div>
                  <div class="ui-grid-row">               
                      <div class="ui-g-12 ui-md-4">&nbsp;</div>
                      <div class="ui-g-12 ui-md-8">                  
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                              <label class="custom-control-label" for="defaultUnchecked">I confirm</label>
                          </div>
                      </div>
                  </div>
                  <div class="ui-grid-row"> 
                      <div class="ui-g-12 ui-md-4">&nbsp;</div>
                      <div class="ui-g-12 ui-md-8 text-right">
                          <button type="submit" class="btn btn-primary">Update Job</button>
                      </div>
                  </div>
                </div>
              </div>
             </form>
            </div>
          </div>
      
      
        </div>
      </div>
    </div>