<div class="update-job-wrapper">
    <div class="ui-fluid">
        <div class="ui-g">

          <div class="ui-g-12">
            <div class="heading-box">
                <h4>Update Job</h4>
            </div>
            <div class="ui-g-12 ui-md-12">
                <div class="success alert alert-success" *ngIf="showSuccess">Job updated successfully !</div>
                <div class="success alert alert-error" *ngIf="showError">Job updation failed !</div>
              </div>
            <div class="card no-margin">

              <form [formGroup]="editJobForm" (submit)="submitEditJob(editJobForm.value);">
              <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-12">

                  <div class="ui-grid-row">                    
                    <div class="ui-g-6 ui-md-6">
                        <label for="eventDate">Event Date<span>*</span></label>
                        <p-calendar [(ngModel)]="date4" [showIcon]="true" [ngClass]="{ 'is-invalid': submitted && f.eventDate.errors }" required formControlName="eventDate"></p-calendar>
                      <div class="invalid-feedback" *ngIf="editJobForm.controls['eventDate'].hasError('required') && editJobForm.controls['eventDate'].touched">
                            Event Date To Apply is required !
                      </div> 
                    </div>
                    <div class="ui-g-6 ui-md-6">
                        <label for="eventLocation">Event Location<span>*</span></label>
                        <input id="eventLocation" formControlName="eventLocation" [ngClass]="{ 'is-invalid': submitted && f.eventLocation.errors }" required pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                        <div class="invalid-feedback" *ngIf="editJobForm.controls['eventLocation'].hasError('required') && editJobForm.controls['eventLocation'].touched">
                                Event Location is required !
                        </div> 
                    </div>
                  </div>
            
                  <div class="ui-grid-row">                     
                    <div class="ui-g-6 ui-md-6">
                        <label for="jobDescription">Job Description<span>*</span></label>  
                        <input id="jobDescription" formControlName="jobDescription" [ngClass]="{ 'is-invalid': submitted && f.jobDescription.errors }" required pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                        <div class="invalid-feedback" *ngIf="editJobForm.controls['jobDescription'].hasError('required') && editJobForm.controls['jobDescription'].touched">
                            Job Description is required !
                        </div>  
                    </div>
                    <div class="ui-g-6 ui-md-6">
                        <label for="lastDateToApply">Last Date To Apply<span>*</span></label>
                        <p-calendar [(ngModel)]="date3" [showIcon]="true" [ngClass]="{ 'is-invalid': submitted && f.lastDateToApply.errors }" required formControlName="lastDateToApply"></p-calendar>
                        <div class="invalid-feedback" *ngIf="editJobForm.controls['lastDateToApply'].hasError('required') && editJobForm.controls['lastDateToApply'].touched">
                                Last Date To Apply is required !
                        </div> 
                    </div>  
                  </div>
                  <div class="ui-grid-row">                      
                      <div class="ui-g-6 ui-md-6">
                        <label for="requiredExperience">Required Experience(Should be in no of months)<span>*</span></label>  
                        <input id="requiredExperience" formControlName="requiredExperience" [ngClass]="{ 'is-invalid': submitted && f.totalRequirement.errors }" required  pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                          <div class="invalid-feedback" *ngIf="editJobForm.controls['requiredExperience'].hasError('required') && editJobForm.controls['requiredExperience'].touched">
                                Required Experience is required !
                          </div>  
                      </div>
                    <div class="ui-g-6 ui-md-6">
                        <label for="totalRequirement">Total Requirement<span>*</span></label>  
                       <input id="totalRequirement" formControlName="totalRequirement" [ngClass]="{ 'is-invalid': submitted && f.totalRequirement.errors }" required pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                        <div class="invalid-feedback" *ngIf="editJobForm.controls['totalRequirement'].hasError('required') && editJobForm.controls['totalRequirement'].touched">
                                Total Requirement is required !
                        </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-g-12 ui-md-4">&nbsp;</div>
                      <div class="ui-g-12 ui-md-8 text-right">
                          <button type="button" class="btn btn-primary" (click)="cancelUpdate()">Cancel</button>
                          <button type="submit" class="btn btn-primary">Update Job</button>
                      </div>
                  </div>
                </div>
              </div>
             </form>
            </div>
          </div>


        </div>
      </div>
    </div>
