<div class="job-details-wrapper">
  <div class="heading-box">
     <h4>Job Listing</h4>
     <a class="btn btn-primary" [routerLink]="['/jobs/add-job']">+ Add Job</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Job Title</th>
          <th scope="col">Company Name</th>
          <th scope="col">Requirement</th>
          <th scope="col">Posted Date</th>
          <th scope="col">Location</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobdata of jobdetailsData; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{jobdata.position}}</td>
          <td>{{jobdata.companyName}}</td>
          <td>{{jobdata.appliedCount}}</td>
          <td>{{jobdata.postedJobDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{jobdata.eventLocation}}</td>
          <td><a class="btn" [routerLink]="['/jobs/job-details',jobdata.id]">View </a>&nbsp;&nbsp;<a class="btn not-active" href="javascript:void(0);" (click)="deleteData(jobdata.id);">Delete</a></td>
        </tr>       
      </tbody>
    </table>
  </div>
</div>