<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
        <div class="heading-box">
          <h4>Personal Details</h4>
          <a class="btn" [routerLink]="['/profile/edit-profile-details']">Edit Details</a>
       </div>
      <div class="no-margin" *ngIf="prdetailData">

        <div class="ui-grid-row compLogo">
          <div class="ui-g-12 ui-md-4">
            <label for="companyName">Company Name</label>
          </div>
          <div class="ui-g-12 ui-md-8">
            {{prdetailData.companyName}}
          </div>
          <div class="companyLogo">
            <img [src]="prdetailData.companyLogo" width="150" height="auto" alt="">
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-g-12 ui-md-4">
            <label for="companyName">Company URL</label>
          </div>
          <div class="ui-g-12 ui-md-8">
            {{prdetailData.companyUrl}}
          </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="companyName">Contact Person Name</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              {{prdetailData.contactPersonName}}
            </div>
        </div>

        <div class="ui-grid-row" *ngIf="prdetailData.createdBy">
          <div class="ui-g-12 ui-md-4">
            <label for="createdBy">Created By</label>
          </div>
          <div class="ui-g-12 ui-md-8">
            {{prdetailData.createdBy}}
          </div>
       </div>

        <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="companyName">Designation</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              {{prdetailData.designation}}
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="companyName">Company Registration Number</label>
            </div>
            <div class="ui-g-12 ui-md-8">
              {{prdetailData.companyRegistrationNumber}}
            </div>
        </div>

        <!-- <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="companyName">Company Logo</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                <img [src]="'http://' + prdetailData.companyLogo" width="150" height="auto" alt="">
            </div>
        </div> -->

        <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="companyName">GST Number</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                {{prdetailData.gstiNumber}}
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="companyName">Employer Type</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                {{prdetailData.employerType}}
            </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="companyName">Office Address:</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                {{prdetailData.officeAddress.address}}&nbsp;&nbsp;
                {{prdetailData.officeAddress.city}}&nbsp;&nbsp;{{prdetailData.officeAddress.state}}&nbsp;&nbsp;{{prdetailData.officeAddress.pincode}}
                &nbsp;&nbsp;{{prdetailData.officeAddress.landmark}}
              </div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-g-12 ui-md-4">
              <label for="companyName">About Company</label>
            </div>
            <div class="ui-g-12 ui-md-8">
                {{prdetailData.aboutCompany}}<br>                
            </div>
        </div>

      </div>
    </div>
  </div>
</div>