<div class="sidebar">
   <div class="row-box sidebar-header">
      <div class="profile-image">
         <span class="pimg"><img src="assets/img/profile.jpg" alt=""></span>
      </div>
      <div class="profile-details">
        <p class="name">Shashank Shekhar Tripathi</p>
        <p class="strength">95% Profile Strength</p>
      </div>
  </div>
  <ul class="sidebar-nav">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Manage HR</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</div>