.row-box{padding:15px; background: #ffffff; display: block; float: left;}
.profile-image{float: left; display: block;}
.profile-details{margin-left:70px; margin-top: 15px;}
.profile-details .name{margin-bottom: 2px; font-size: 14px; line-height: 14px;}
.profile-details .strength{margin-bottom:0; font-size: 13px; line-height: 14px;}
.profile-image .pimg img{width: 60px; height: 60px; border-radius: 50%; border:2px solid #62c4e7;}