<div class="hrdetails-wrapper">
<div class="row" *ngIf="detailsData.length > 0">
  <div class="col-md-2">
    <div class="navigation-wrapper">
         <ul>
           <li><a href="javascript:void(0)">Applied(15)</a></li>
           <li><a href="javascript:void(0)">Invited(15)</a></li>
           <li><a href="javascript:void(0)">Shortlisted(15)</a></li>
           <li><a href="javascript:void(0)">Interview(0)</a></li>
           <li><a href="javascript:void(0)">On Hold(0)</a></li>
           <li><a href="javascript:void(0)">Rejected(0)</a></li>
         </ul> 
    </div>
  </div>
  <div class="col-md-10">
    <div class="job-listing-wrapper">
       <div class="top-box-pannel">
         <div class="left-frm-wrapper">
          <div class="form-inline">
            <div class="form-group">
              <label for="title">Title:</label>
              <select class="form-control">
                <option>> 70</option>
              </select>
            </div>
            <div class="form-group">
              <label for="pwd">Paasout Year:</label>
              <select class="form-control">
                <option>> 2016</option>
              </select>
            </div>
          </div>
         </div>
       </div>
       <div class="bottom-box-pannel">
         <div class="statusWrapper">
           <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" value="">Email</label>
            </div>
           </div>
           <!-- <div class="form-group">
            <div class="checkbox">
              <label><i class="fa fa-setting"></i>Status</label>
            </div>
           </div> -->
         </div>
         <div class="jobListing">
           <ul>
             <li *ngFor="let jdetail of detailsData; let i = index;">
               <div class="colBox-1">
                 <div class="employe-name">
                    <div class="checkbox">
                      <label><input type="checkbox" value="">{{jdetail.name}}</label>
                    </div>
                    <div class="package"></div>
                 </div>
                 <div class="education common">
                   <div class="heading">Education: <span>{{jdetail.postGraduationDegree}}, &nbsp; {{jdetail.postGraduationUniversity}}</span></div>
                 </div>
                 <div class="skills common">
                  <div class="heading">Key skills: <span>{{skills}}</span></div>
                </div>
                <div class="matchingBox">
                   <div class="applied">
                     Applied - Matching
                   </div>
                   <div class="reject">Reject</div>
                </div>
               </div>
               <div class="colBox-2"></div>
               <div class="colBox-3">
                <ng-container *ngIf="jdetail.photo === null; else datapic ">
                  <div class="NotFound">
                    <span>Image Not Available!</span>
                  </div>
                </ng-container>
                <ng-template #datapic>
                  <img [src]="jdetail.photo" alt="">
                </ng-template>
               </div>
             </li>

           </ul>
         </div>
         <!-- <div class="pagination-wrapper">
            <ul class="pagination">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
            </ul>
         </div> -->
       </div>
    </div>
  </div>
</div>

<div *ngIf="detailsData.length < 1" class="text-center"> Job Details is not available !</div>

</div>
