<div class="ui-fluid">
  <div class="ui-g">

    <div class="ui-g-8">
      <div class="card no-margin">
        <!-- <h1>Form Elements</h1> -->
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-12">
            <div class="ui-grid-row">
              <div class="ui-g-12 ui-md-4">
                <label for="companyName">Company Name</label>
              </div>
              <div class="ui-g-12 ui-md-8">
                <input id="companyName" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-g-12 ui-md-4">
                  <label for="position">Job title/position</label>
              </div>
              <div class="ui-g-12 ui-md-8">
                <input id="position" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-g-12 ui-md-4">
                  <label for="jobtype">Job type</label>
              </div>
              <div class="ui-g-12 ui-md-8">
                <input id="jobtype" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-g-12 ui-md-4">
                  <label for="Location">Location</label>
              </div>
              <div class="ui-g-12 ui-md-8">
                <input id="Location" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
              </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-12 ui-md-4">
                    <label for="fromsalary">From salary</label>
                </div>
                <div class="ui-g-12 ui-md-8">
                  <input id="fromsalary" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-12 ui-md-4">
                    <label for="tosalary">To salary</label>
                </div>
                <div class="ui-g-12 ui-md-8">
                  <input id="tosalary" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-12 ui-md-4">
                    <label for="rexperience">required Experience(Should be in no of months)</label>
                </div>
                <div class="ui-g-12 ui-md-8">
                  <input id="rexperience" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-g-12 ui-md-4">
                    <label for="eventdate">Event Date</label>
                </div>
                <div class="ui-g-12 ui-md-8">
                  <!-- <input id="eventdate" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget"> -->
                  <!-- <p-calendar [(ngModel)]="date1"></p-calendar> -->
                </div>
            </div>


          </div>
        </div>
      </div>
    </div>





  </div>
</div>

<!-- <div class="content-section implementation">         
          <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText> 
              <label for="float-input">Company Name</label>
          </span>
       </div> -->