/* You can add global styles to this file, and also import other style files*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.sidebar{
 min-width: 290px; max-width: 290px; float: left;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
 height: 100%;
 background: #214761;
}
.sidebar-nav{list-style: none; padding: 0px; margin-bottom: 0;}
.sidebar-nav li{list-style:none; display: block;}
.sidebar-nav li a{display: block; font-size: 16px; text-decoration: none; padding:15px; border-bottom: 1px solid #ffffff; text-align: left; color: #ffffff; background: #214761; width: 100%; text-transform: capitalize;}
.sidebar-nav li a:hover{background: #ffffff; color: #214761;}
/* .sidebar-nav li:last-child a{border-bottom: 0;} */
.content-wrapper{width: 100%; float: left; padding: 20px;}
.btn{background-color: #d34b3d; padding:5px 18px; color: #ffffff; border-color: #d34b3d;}
.btn:hover{opacity: 0.9;}
.heading-box{padding: 7px 15px; border-bottom:1px solid #cccccc; margin-bottom: 15px;}
.heading-box h4{text-transform: capitalize; display: inline-block;}
.table-bordered thead td, .table-bordered thead th{background: #efefef;}
.heading-box a.btn{display: inline-block; float: right;}
