<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Company</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About us</a>
          </li>
          <li>
            <a href="#!">What is fun</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
          <li>
            <a href="#!">Terms & Conditions</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">What we offer</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Students</a>
          </li>
          <li>
            <a href="#!">Colleges</a>
          </li>
          <li>
            <a href="#!">Companies</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Media & Awards</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">NDTV Prime</a>
          </li>
          <li>
            <a href="#!">TEDx Talk</a>
          </li>
          <li>
            <a href="#!">Business Line</a>
          </li>
          <li>
            <a href="#!">Live Mint</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Follow us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>
          <li>
            <a href="#!">LinkedIn</a>
          </li>
          <!-- <li>
            <a href="#!">Link 4</a>
          </li> -->
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">OATE</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->